<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AsEnumerableAndAsQueryableinLINQ.Properties.Settings.LINQConnectionString"
            connectionString="Data Source=AUSHOMAPTO\SQLEXPRESS;Initial Catalog=LINQ;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>